body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.sign-up-btn {
  width: 110px;
  background-color: #ed1858;
  border-radius: 20px;
}
.give-browse-btn {
  background-color: #ed1858 !important;
  border: none !important;
  width: 145px;
  height: 55px;
  font-size: 25px !important;
}
.bg-img {
  width: 100%;
  height: 650px;
  background-image: url('images/hello1.png');
  background-position: 400px 0;
  background-repeat: no-repeat;
}
.review-inner-container {
  margin-left: 90px;
  text-align: left;
}
.give-browse {
  margin-top: 50px;
}
.give-browse-btn-text {
  margin: 0 20px;
  font-size: 28px;
}
.width-auto {
  width: auto;
}

.text-lg {
  font-size: 2rem;
}

.carousel-indicators li {
  border: none;
  height: 15px;
  width: 15px;
  margin: 5px;
  /* border: 2px solid black; */
  border-radius: 50%;
  background: #ed1858 !important;
}

.carousel-indicators li.active {
  background-color: #ed1858;
}

.txt {
  margin: 50px 0 60px 250px;
}

.carousel-control-prev-icon {
  position: absolute;
  color: lightgreen !important;
  top: 150px;
  right: 160px;
  width: 50px !important;
  height: 50px !important;
  background-color: #ed1858 !important;
  border-radius: 40%;
}
.carousel-control-next-icon {
  position: absolute;
  color: lightgreen !important;
  top: 150px;
  left: 160px;
  width: 50px !important;
  height: 50px !important;
  background-color: #ed1858 !important;
  border-radius: 40%;
}
.video-btn {
  height: 200px;
  width: 300px;
}

.btn-right {
  margin-right: 280px;
}

.bg-col-vid {
  background-color: rgb(236, 236, 236);
  padding-top: 5px;
  padding-bottom: 50px;
}

.btn-primary {
  background-color: #ed1858 !important;
  border-color: #ed1858 !important;
}

/*footer*/
section {
  padding: 35px 0 6px 0;
}
section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#footer {
  background: #353535 !important;
}
#footer h5 {
  padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: #ffffff;
}
#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
#footer ul.social li {
  padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
}
#footer ul.social li a,
#footer ul.quick-links li a {
  color: #ffffff;
}
#footer ul.social li a:hover {
  color: #eeeeee;
}
#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}
#footer ul.quick-links li a i {
  margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

@media (max-width: 767px) {
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}

/*post product*/

.form-components-width {
  /* width: 50%; */
  padding: 30px;
  height: 900px;
}

.txt-post-product {
  background-color: #3c6e71;
  border-radius: 20px;
  width: 700px;
  height: 150px;
}

.postProd-img-preview {
  max-width: 400px;
  height: 60px;
  margin: 5px;
  border-radius: 12px;
}

.editProd-img-preview {
  width: 100px;
  height: 100px;
  margin: 5px;
  border-radius: 12px;
}

/* .img-prod-label {
  min-width: 220px;
  text-align: left;
} */

.img-prod-fgr {
  justify-content: unset !important;
}

.form-group-el {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
.post-prodForm-btn {
  float: right;
}

.prod-form-wrapper {
  width: 800px;
  margin: 50px;
  box-shadow: inset 0 0 5px #3c6e71;
  background: #e4e4e4;
  border-radius: 20px;
}

.new-post-t {
  margin-right: 530px;
}

.new-post-p {
  margin-right: 450px;
  padding-top: 25px;
  color: black;
}

.new-post-j {
  margin-right: 70px;
  color: white;
}
.form-components-width .form-group-el label {
  font-weight: 500;
  font-size: 14pt;
}
.prod-freshnes-radios label {
  font-size: 11pt !important;
}
.imgUploadBtn {
  min-width: 110px;
  max-width: 400px;
  height: 100px;
  border-radius: 7px;
  background-color: #ffffff;
  border: 1px solid rgb(182, 182, 182);
  margin-left: 103px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
.imgUploadBtn-dash-edit {
  margin-left: 0px !important;
  margin-top: 5px;
  border-radius: 12px;
}
.add-photo-icon-dash {
  margin: 0 auto !important;
}

.add-photo-icon {
  width: 30px !important;
  margin: 0 15px 0 30px;
}

.add-photo-icon:hover {
  opacity: 0.8;
  margin-left: 26px !important;
  width: 36px !important;
  height: 32px !important;
}
.new-post-n {
  margin-right: 365px;
  color: white;
}
.rowProd {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.prodCol {
  margin: 70px 35px;
  width: 300px;
  height: 270px;
}
.productsALL {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.home-prod {
  position: relative;
  width: 300px;
  height: 270px;
}
.prodImg {
  border-radius: 15px;
}
.home-prod::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  opacity: 0.5;
  border-radius: 17px;
  -moz-box-shadow: inset 0 0 10px rgb(90, 90, 90);
  -webkit-box-shadow: inset 0 0 10px rgb(90, 90, 90);
  box-shadow: inset 0 0 10px rgb(90, 90, 90);
}
.itemText {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 230px;
  color: #ffffff;
  font-size: 10pt;
  border-radius: 0 0 6px 6px;
  text-align: left;
  padding-left: 17px;
}
.itemTypeFree {
  text-align: left;
  padding: 10px 5px;
  background: #df0085;
  color: #fff;
  font-size: 8pt;
  border-radius: 3px;
  margin-right: 5px;
  display: inline-block;
  line-height: 0;
}
.prodTitle {
  font-size: 14px;
  margin-bottom: 5px;
}
.prodLocation {
  font-size: 12px;
  margin-bottom: 5px;
}
.row {
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}

/*notifications*/

.notification-container-empty {
  display: none !important;
}

.notification-container {
  top: 80px !important;
  width: 360px !important;
  height: 100px !important;
}
.notification-success {
  background-color: #d4edda !important;
  border-color: #c3e6cb;
  color: #155724 !important;
}
.notification-error {
  color: #721c24 !important;
  background-color: #f8d7da !important;
  border-color: #f5c6cb;
}

.notification-warning {
  background-color: #f8d7da !important;
  border-color: #f5c6cb;
}

.notification {
  border-radius: 10px !important;
  box-shadow: 0 0 0 !important;
  opacity: 0.98 !important;
  border: 1px solid transparent;
}
/*header*/

.header {
  background-color: #3c6e71;
}
#logo {
  background-image: url('./images/logo.png');
  background-repeat: no-repeat;
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  margin-left: 100px;
}
#user {
  margin-top: 10px;

  display: flex;
}
#title {
  color: white;
  margin-top: -20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#title1 {
  margin-top: 20px;
  margin-left: -50px;
  color: #ed1858;
  font-style: italic;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.searchpost {
  margin-left: 130px;
}

#textbox {
  border-radius: 50px;
  margin-left: 60px;
}
#chat {
  display: flex;
  margin-top: 10px;
  margin-right: 80px;
}
#post {
  color: white;
  margin-left: 40px;
  font-size: 17px;
}
.dropdown-toggle::after {
  display: none !important;
}

.dropdownmenu {
  display: flex;
  align-items: center;
  margin-left: 250px;
}

.header-search {
  position: relative;
}
.header-search-icon {
  position: absolute;
  top: 12px;
  right: 26px;
}
#bodyRegister {
  min-width: 100%;
  background-position: fixed;
  background-size: cover;
}
.card {
  margin-bottom: 50px;
  color: rgb(0, 0, 0);
}
#CardRegister {
  background-color: #e4e4e4;
  box-shadow: inset 0 0 5px #3c6e71;
  width: 700px;
  margin-top: 50px;
}
#logincard {
  background-color: #e4e4e4;
  box-shadow: inset 0 0 5px #3c6e71;
  margin-top: 40px;
}
.label-alignin {
  width: 380px;
  text-align: left;
  margin: 20px 0 1px 0;
}

.lbl-position {
  margin-left: 130px;
  padding-left: 30px;
}

.pad {
  padding-left: 30px;
}

.lbl-position-d {
  margin-left: 5px;
}

.btn-position {
  display: flex;
  /* margin-left: 250px; */
}

.lbl-position-lgn {
  margin-left: 28px;
}

.d-flex-f {
  margin-left: 250px;
}

.d-flex-s {
  margin-right: 20px;
}

/*sidebar*/

.sidebar {
  position: absolute;
  top: 75px;
  left: -270px;
  width: 270px;
  height: 100vh;
  background-color: #3c6e71;
  transition: left 300ms ease-out;
  z-index: 2;
  opacity: 0.95;
}
.sidebar.active {
  left: 0px;
}
.sidebar ul {
  margin: 0;
  padding: 0;
}
.sidebar li {
  list-style: none;
}
.sidebar li a {
  font-size: 18px;
  text-decoration: none;
  padding: 10px;
  display: block;
  color: #fff;
}
.hamburger {
  border: none;
  outline: 0;
  background-color: inherit;
  width: 45px;
  height: 20px;
  position: absolute;
  right: -70px;
  top: -60px;
}

.hamburger:after,
.hamburger:before,
.hamburger div {
  background-color: #fff;
  height: 5px;
  margin: 7px 0;
  border-radius: 3px;
  content: '';
  display: block;
  transition: all 500ms ease-in-out;
  right: 300px;
}

.sidebar.active .hamburger:before {
  transform: translateY(0px) rotate(135deg);
  background-color: white;

  width: 5px;
  height: 40px;
  position: absolute;
  right: 290px;
  top: -6px;
}
.sidebar.active .hamburger::after {
  transform: translateY(0px) rotate(-135deg);
  background-color: white;
  width: 5px;
  height: 40px;
  position: absolute;
  right: 290px;
  top: -6px;
}
.sidebar.active .hamburger div {
  transform: scale(0);
}

.q-width {
  height: 100px;
}

.icon-position {
  position: absolute;
  top: 195px;
  left: 160px;
}

.icon-position-p {
  position: absolute;
  left: 160px;
  top: 278px;
}

.icon-position-c {
  position: absolute;
  left: 160px;
  top: 360px;
}

.icon-position-pc {
  position: absolute;
  left: 160px;
  top: 610px;
}

.icon-position-e {
  position: absolute;
  left: 160px;
  top: 693px;
}

.icon-position-ce {
  position: absolute;
  left: 160px;
  top: 777px;
}

.icon-position-ul {
  position: absolute;
  left: 80px;
  top: 145px;
}

.icon-position-pl {
  position: absolute;
  left: 80px;
  top: 219px;
}

.table-responsive {
  margin: 0 0 30px 0;
}
.table-wrapper {
  background: #fff;
  padding: 20px 25px;
  min-width: 1000px;
  background-color: rgb(241, 237, 235);
  box-shadow: #9c0000;
  border-radius: 0 17px 17px 17px;
}
.table-title {
  background: #435d7d;
  color: #fff;
  padding: 10px 30px;
  min-width: 100%;
  margin: -20px -25px 0px;
  border-radius: 20px;
  background-color: rgb(241, 237, 235);
  color: #000;
  text-align: left;
}
.table-title h2 {
  margin: 5px 0 0;
  font-size: 24px;
}
.table-title .btn-group {
  float: right;
}
.table-title .btn {
  float: right;
  margin-top: 0;
}
.table-title .btn i {
  float: left;
  font-size: 21px;
  margin: 2px 5px 0 0;
}
.table-title .btn span {
  float: left;
}
table.table tr th,
table.table tr td {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
}
table.table-striped.table-hover tbody tr:hover {
  background: #f5f5f5;
}
table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}
table.table td a {
  font-weight: bold;
  color: #566787;
  display: inline-block;
  text-decoration: none;
  outline: none !important;
}
table.table td a:hover {
  color: #2196f3;
}
table.table td a.edit {
  color: #ffc107;
}
table.table td a.delete {
  color: #f44336;
}
table.table td i {
  margin-top: 3px;
}
table.table .avatar {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}
.showing-res-txt {
  font-size: 15px;
  margin: 8px 17px 0 0;
}
.pagination {
  float: right;
  margin: 0 0 5px;
}
.pagination li a {
  border: none;
  font-size: 13px;
  min-width: 30px;
  min-height: 30px;
  color: #999;
  margin: 0 2px;
  line-height: 30px;
  border-radius: 2px !important;
  text-align: center;
  padding: 0 6px;
}
.pagination li a:hover {
  color: #666;
}
.pagination li.active a,
.pagination li.active a.page-link {
  background: #03a9f4;
}
.pagination li.active a:hover {
  background: #0397d6;
}
.pagination li.disabled i {
  color: #ccc;
}
.pagination li i {
  font-size: 16px;
  padding-top: 6px;
}
.hint-text {
  float: left;
  margin-top: 10px;
  font-size: 13px;
}

/* Modal styles */
.modal .modal-dialog {
  max-width: 400px;
}
.modal .modal-header,
.modal .modal-body,
.modal .modal-footer {
  padding: 20px 30px;
}
.modal .modal-content {
  border-radius: 3px;
  font-size: 14px;
}
.modal .modal-footer {
  background: #ecf0f1;
  border-radius: 0 0 3px 3px;
}
.modal .modal-title {
  display: inline-block;
}
.modal .form-control {
  border-radius: 2px;
  box-shadow: none;
  border-color: #dddddd;
}
.modal textarea.form-control {
  resize: vertical;
}
.modal .btn {
  border-radius: 2px;
  min-width: 100px;
}
.modal form label {
  font-weight: normal;
}
.modal-close-btn {
  width: 10px !important;
  margin-left: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0px 0px 0px;
}

.btn-primary {
  margin-left: 23px;
  background-color: red;
}

.h-position {
  color: black;
}
.dash-selector {
  margin: 50px 0 0 60px;
  padding-left: 15px;
  width: 1200px;
}
.dash-selector li {
  list-style: none;
}
.dash-btn {
  margin: 0;
  border-radius: 12px 12px 0 0 !important;
  border: none;
  color: #000;
  font-weight: 600;
}

.nonactive-dash-btn {
  width: 130px;
  height: 40px;
  background-color: rgb(206, 200, 197);
}
.active-dash-btn {
  width: 127px;
  height: 38px;
  background-color: rgb(241, 237, 235);
  margin-top: 2px;
  border-bottom: 3px solid rgb(30, 163, 30);
}
.dash-content {
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dash-tables {
  width: 1200px;
}
#prdetail {
  text-align: left;
}

.delProduct-photo {
  position: absolute;
  right: 13px;
  top: 10px;
}
.delPhoto-icon-dash {
  font-size: 20px;
}

.delPhoto-icon-dash:hover {
  color: rgb(226, 1, 1);
  cursor: pointer;
}
.editProd-img-preview:hover {
  opacity: 0.95;
}

/*product details*/

.req-prod-textarea {
  font-size: 15px;
  width: 300px;
  height: 80px;
}

.prodDetails-img {
  width: 500px;
  height: 400px !important;
  border-radius: 10px;
}
.prodDetails-2img {
  width: 150px !important;
  height: 100px !important;
  border-radius: 10px;
}
.prodDetails-Dashimg {
  width: 70px !important;
  height: 50px !important;
  margin: 1px;
}
.prod-img-dash-record {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  justify-content: center;
  border: none !important;
}

/*chat dropdown*/
#hell {
  display: flex;
  width: 50px;
  margin-top: 10px;
  border-top-style: hidden;
}
#hell2 {
  margin-left: 100px;
}
#mess:hover {
  text-decoration: underline;
}
