body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.sign-up-btn {
  width: 110px;
  background-color: #ed1858;
  border-radius: 20px;
}
.give-browse-btn {
  background-color: #ed1858 !important;
  border: none !important;
  width: 145px;
  height: 55px;
  font-size: 25px !important;
}
.bg-img {
  width: 100%;
  height: 600px;
  background-image: url('images/hello1.png');
  background-position: 400px 0;
  background-repeat: no-repeat;
}
.review-inner-container {
  margin-left: 90px;
  text-align: left;
}
.give-browse {
  margin-top: 50px;
}
.give-browse-btn-text {
  margin: 0 20px;
  font-size: 28px;
}
.width-auto {
  width: auto;
}

.text-lg {
  font-size: 2rem;
}

.carousel-indicators li {
  border: none;
  height: 15px;
  width: 15px;
  margin:5px;
  /* border: 2px solid black; */
  border-radius:50%;
  background: #ED1858!important;
}

.carousel-indicators li.active {
  background-color: #ED1858;
}

.txt{
  margin:50px 0 60px 250px;
}

.carousel-control-prev-icon{
 position: absolute;
 color:lightgreen!important;
 top: 150px;
 right: 160px;
 width: 50px!important;
 height: 50px!important;
 background-color: #ED1858!important;
 border-radius: 40%;
}
.carousel-control-next-icon{
  position: absolute;
 color:lightgreen!important;
  top: 150px;
  left: 160px;
  width: 50px!important;
 height: 50px!important;
  background-color: #ED1858!important;
  border-radius:40%;
}
.video-btn{
  height: 200px;
  width: 300px;
}

.btn-right{
  margin-right: 280px;
}

.bg-col-vid{
  background-color: rgb(236, 236, 236);
  padding-top: 5px;
  padding-bottom: 50px;
}

.btn-primary {
  
  background-color:#ED1858!important;
  border-color:#ED1858!important;
}